<div class="idx-recommends container-fluid my-4 px-4">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card card-container">
        <img class="card-img-top" src="/images/recommend_book.png" alt="本のイメージ画像">
        <div class="card-body">
          <h4 class="card-title">Book</h4>
          <p class="card-text">オススメの本を紹介</p>
          <a href="/books" class="btn btn-primary btn-block">一覧を見る</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card card-container">
        <img class="card-img-top" src="/images/recommend_music.png" alt="音楽のイメージ画像">
        <div class="card-body">
          <h4 class="card-title">Music</h4>
          <p class="card-text">オススメの音楽を紹介</p>
          <a href="/musics" class="btn btn-primary btn-block">一覧を見る</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card card-container">
        <img class="card-img-top" src="/images/recommend_movie.png" alt="映画のイメージ画像">
        <div class="card-body">
          <h4 class="card-title">Movie</h4>
          <p class="card-text">オススメの映画を紹介</p>
          <a href="/movies" class="btn btn-primary btn-block">一覧を見る</a>
        </div>
      </div>
    </div>
  </div>
</div>
